<label>Meta Sugerida:</label>
<input type="text" name="meta_sugerida" id="meta_sugerida_input" 
       value="{{ meta_sugerida }}" readonly>

<label>Meta Escolhida:</label>
<input type="text" name="meta_escolhida" id="meta_escolhida_input" 
       value="{{ meta_escolhida }}" readonly>

<label>Resultado M0:</label>
<input type="text" name="resultadom0" id="resultadom0_input" 
       value="{{ resultado_m0 }}" readonly>

<label>Atingimento M0:</label>
<input type="text" name="atingimentom0" id="atingimentom0_input" 
       value="{{ atingimento_m0 }}" readonly>

<label>Atingimento Projetado:</label>
<input type="text" name="atingimento_projetado" id="atingimento_projetado_input" 
       value="{{ atingimento_projetado }}" readonly>

<label>Resultado M1:</label>
<input type="text" name="resultadom1" id="resultadom1_input" 
       value="{{ resultado_m1 }}" readonly>

<label>Atingimento M1:</label>
<input type="text" name="atingimentom1" id="atingimentom1_input" 
       value="{{ atingimento_m1 }}" readonly>

<label>Max Data:</label>
<input type="text" name="max_data" id="max_data_input" 
       value="{{ max_data }}" readonly>
