<!DOCTYPE html>
<html>
<head>
    <title>Matriz de Distribuição</title>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/pt.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>

    <!-- <link rel="stylesheet" href="{{ url_for('static', path='/css/style_core.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', path='/css/style_core_remake.css') }}">
    <link rel="icon" type="image/png" href="/static/images/fav.png">
</head>
<body data-area="{{ area }}">
    <div id="internal-error" class="erro-fixo oculto" role="alert" aria-live="assertive">
    </div>
    <form action="/logout" method="post">
        <button type="submit" class="logout-btn">Sair do Sistema</button>
    </form>

    <div class="dropdown">
    <button class="dropdown-button">Links Importantes</button>
    <div class="dropdown-content">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSdmXd6R6mWNhxWsHVXh40uZozdGN7075_gMF-FCpI-ZZ6Yq1w/viewform?usp=header" target="_blank">Reportar Um Bug/Erro</a>
        <a href="https://drive.google.com/file/d/1GDvPV8JEBafwFnY3N3YeZLL8F29i-b4Z/view?usp=sharing" target="_blank">Documentação Sistema Matriz - ADM</a>
        <a href="/export_atributos_sem_matriz" target="_blank">Matrizes Não Cadastradas</a>
    </div>
    </div>

    <div
        class="robby_div">
    </div>

    <div
        class="aecx_div">
    </div>


    <div class="titulo-principal">
        <h2>Matriz de Distribuição - ADM Cadastro</h2>        
    </div>

    <div class="adm-acordo-link">
        <a href="/matriz/adm/acordo">Ir para a página de acordo</a>
    </div>

    <div class="container">
        <div class="user-info">
            <h4>Filtros</h4>  
            <label>Usuário:</label>
            <input type="text" name="username" id="username" value="{{ username or '' }}" readonly>

            <div id="atributos-container">
                <label>Atributo: *</label>
                <select name="atributo" id="atributo_select" onchange="handleAtributoChange(this)">
                    <option value="">Selecione ou pesquise...</option>
                    {% for at in atributos %}
                        <option value="{{ at['atributo'] }}"
                        data-gerente="{{ at['gerente'] }}"
                        data-tipo="{{ at['tipo'] }}">{{ at['atributo'] }}</option>
                    {% endfor %}
                </select>
            </div>

            <div id="mensagens-filtro" class="mensagens-filtro"></div>

            <button
                type="button"
                id="btn-m0"
                hx-post="/pesquisar_mes" 
                hx-target="#tabela-pesquisa" 
                hx-swap="innerHTML"
                hx-include="[id='atributo_select']"
                hx-vals='{"mes": "m0"}'>
                Pesquisar Mes Atual
            </button>

            <button
                type="button"
                id="btn-m1"
                hx-post="/pesquisar_mes" 
                hx-target="#tabela-pesquisa" 
                hx-swap="innerHTML"
                hx-include="[id='atributo_select']"
                hx-vals='{"mes": "m1"}'>
                Pesquisar Mes Anterior
            </button>

            <button
                type="button"
                id="btn-mmais1"
                hx-post="/pesquisar_mes" 
                hx-target="#tabela-pesquisa" 
                hx-swap="innerHTML"
                hx-include="[id='atributo_select']"
                hx-vals='{"mes": "m+1"}'>
                Pesquisar Mes Seguinte
            </button>

            <!-- <button
                type="button"
                hx-post="/pesquisaracordos" 
                hx-target="#tabela-pesquisa" 
                hx-swap="innerHTML"
                hx-include="[id='atributo_select']">
                Pesquisar Acordos Areas de Apoio
            </button>

            <button
                type="button"
                hx-post="/pesquisarnaoacordos" 
                hx-target="#tabela-pesquisa" 
                hx-swap="innerHTML"
                hx-include="[id='atributo_select']">
                Pesquisar Não Acordos Areas de Apoio
            </button>

            <button
                type="button"
                hx-post="/pesquisarnaoacordosexop" 
                hx-target="#tabela-pesquisa" 
                hx-swap="innerHTML"
                hx-include="[id='atributo_select']">
                Pesquisar Não Acordos Exop
            </button>

            <button
                id="m0_administrativas"
                type="button"
                hx-post="/pesquisar/matrizes_administrativas" 
                hx-target="#tabela-pesquisa"
                hx-swap="innerHTML"
                hx-vals='{"tipo": "m0_administrativas"}'>
                Pesquisar Matrizes Administrativas Mes Atual
            </button>

            <button
                id="m+1_administrativas"
                type="button"
                hx-post="/pesquisar/matrizes_administrativas" 
                hx-target="#tabela-pesquisa"
                hx-swap="innerHTML"
                hx-vals='{"tipo": "m+1_administrativas"}'>
                Pesquisar Matrizes Administrativas Mes Seguinte
            </button> -->

            <h5>Os resultados da pesquisa aparecerão na primeira tabela abaixo.</h5>

            <!-- {% if username in ["277561", "117699", "154658"] %}
            <div>
                <form hx-post="/upload_excel"
                    hx-target="#tabela-pesquisa"
                    hx-swap="innerHTML"
                    enctype="multipart/form-data"
                    style="margin-left:100px;">
                <input type="file" name="file" accept=".xlsx,.xls" required>
                <button type="submit">Importar Excel</button>
                </form>

                <div id="upload_result" class="mensagens-import"></div>
            </div>
            {% endif %} -->
        </div>

        <div class="form-container">
            <h4>Gerar um novo indicador</h4>  
            <h5>Campos com * são obrigatórios!</h5>  
            <form hx-post="/add" hx-target="#registros" hx-swap="innerHTML" class="form-grid">
                
                <div>
                    <label>ID - Nome Indicador: *</label>
                    <select name="nome" id="indicadores">
                        <option value="">Selecione ou pesquise...</option>
                        {% for ind in indicadores %}
                            <option value="{{ ind.id }} - {{ ind.text }}"
                                    data-acumulado="{{ ind.acumulado }}"
                                    data-esquema="{{ ind.esquema_acumulado }}"
                                    data-formato="{{ ind.formato }}">
                                {{ ind.id }} - {{ ind.text }}
                            </option>
                        {% endfor %}
                    </select>

                    <label>Meta: *</label>
                    <input type="text" name="meta" id="meta_input" placeholder="Selecione um indicador">

                    <label>Moedas: *</label>
                    <input type="number" name="moeda">

                    <label>Tipo Indicador:</label>
                    <input type="text" name="tipo_indicador" id="formato_input" value="" readonly>

                    <label>Acumulado:</label>
                    <input type="text" name="acumulado" id="acumulado_input" value="" readonly>

                    <label>Esquema Acumulado:</label>
                    <input type="text" name="esquema_acumulado" id="esquema_input" value="" readonly>

                    <label>Tipo Matriz:</label>
                    <input type="text" name="tipo_matriz" id="tipomatriz_select" value="" readonly>

                    <label>Data Início: *</label>
                    <input type="text" id="data_inicio" name="data_inicio" value="">

                    <label>Data Fim: *</label>
                    <input type="text" id="data_fim" name="data_fim" value="">

                    <label>Periodo:</label>
                    <input type="text" name="periodo" id="periodo_input" value="" readonly>

                    
                </div>

                <div>
                    
                    <label>Escala: *</label>
                    <select name="escala" id="escala_select">
                        <option value="6x1">6x1</option>
                        <option value="5x2">5x2</option>
                    </select>

                    <label>Tipo de Faturamento: *</label>
                    <select name="tipo_faturamento" id="tipo_faturamento">
                        <option value="">Selecione...</option>
                        <option value="Ônus">Ônus</option>
                        <option value="Ônus e Bônus">Ônus e Bônus</option>
                        <option value="Receita">Receita</option>
                        <option value="Relacionamento">Relacionamento</option>
                        <option value="Controle">Controle</option>
                    </select>

                    <label>Descrição:</label>
                    <input type="text" name="descricao">

                    <!-- <label>Ativo:</label>
                    <input type="number" name="ativo"> -->

                    <label>Chamado:</label>
                    <input type="text" name="chamado">
                    
                    <label>Critério: *</label>
                    <select name="criterio_final" id="criterio_final">
                        <option value="">Selecione...</option>
                        <option value="Meta AeC">Meta AeC</option>
                        <option value="Meta Cliente">Meta Cliente</option>
                        <option value="Meta Smart">Meta Smart</option>
                    </select>

                    <!-- <label>Área: *</label>
                    <select name="area" id="area">
                        <option value="">Selecione...</option>
                        <option value="Operação">Operação</option>
                        <option value="Qualidade">Qualidade</option>
                        <option value="Planejamento">Planejamento</option>
                    </select>

                    <label>Responsavel: *</label>
                    <input type="text" name="responsavel"> -->

                    <label>Gerente:</label>
                    <input type="text" name="gerente" id="gerente_input" value="" readonly>

                    <label>Possui DMM: *</label>
                    <div class="radio-group">
                        <label><input type="radio" name="possuiDmm" value="Sim"> Sim</label>
                        <label><input type="radio" name="possuiDmm" value="Não" checked> Não</label>
                    </div>
                    
                    <label>DMM:</label>
                    <input type="text" id="dmm" name="dmm" placeholder="Selecione as datas, caso haja">

                    <input type="hidden" id="atributo_hidden" name="atributo" value="">
                </div>

                <div class="mensagens-indicador" id="mensagens-indicador"></div>

                <div class="form-submit">
                    <button type="submit" class="button-submit-form">Enviar</button>
                </div>
            </form>
        </div>
    </div>

    <div class="registros">
        <h4>Resultado por Atributo</h4> 
        <button type="button" id="export-btn" class="export-btn">Export para Excel</button>
        <input type="hidden" name="cache_key" id="cache_key_pesquisa" value="">
        <form id="form-acordo" 
            hx-post="/processar_acordo" 
            hx-target="#tabela-pesquisa" 
            hx-swap="innerHTML"
            hx-include="#tabela-pesquisa input[name='registro_ids']:checked, #cache_key_pesquisa">

            <div class="table-container">
                <table class="tabela-pesquisa">
                    <thead>
                        <tr>
                            <th>Selects</th>
                            <th>Atributo</th>
                            <th>Id - Nome Indicador</th>
                            <th>Meta Sugerida</th>
                            <th>Resultado</th>
                            <th>Atingimento</th>
                            <th>Meta</th>
                            <th>Moedas</th>
                            <th>Tipo Indicador</th>
                            <th>Acumulado</th>
                            <th>Esquema Acumulado</th>
                            <th>Tipo Matriz</th>
                            <th>Data Inicio</th>
                            <th>Data Fim</th>
                            <th>Periodo</th>
                            <th>Escala</th>
                            <th>Tipo de Faturamento</th>
                            <th>Descrição</th>
                            <th>Ativo</th>
                            <th>Chamado</th>
                            <th>Criterio</th>
                            <!-- <th>Area</th>
                            <th>Responsavel</th> -->
                            <th>Gerente</th>
                            <th>Possui DMM</th>
                            <th>DMM</th>
                            <th>Submetido Por</th>
                            <th>Data Sub Por</th>
                            <th>Qualidade</th>
                            <th>Da Qualidade</th>
                            <th>Data Da Qualidade</th>
                            <th>Planejamento</th>
                            <th>Da Planejamento</th>
                            <th>Data Da Planejamento</th>
                            <th>Exop</th>
                            <th>Da Exop</th>
                            <th>Data Da Exop</th>
                        </tr>
                    </thead>
                    <tbody id="tabela-pesquisa">
                        <!-- preenchido via HTMX -->
                    </tbody>
                </table>
            </div>

            <button 
                type="button" 
                id="selecionar-tudo-btn" 
                class="select-all">
                Selecionar Tudo
            </button>
            
            
            <input type="hidden" name="tipo_pesquisa_admapoio" id="tipo_pesquisa_admapoio" value="">
            <!-- <h4>Selecione os registros que deseja dar acordo, não acordo ou duplicar antes de clicar nos botões abaixo.</h4>
            <div style="display: flex; gap: 10px; margin-top: 15px; justify-content: center;">
                <button type="submit" 
                        name="status_acao" 
                        value="Acordo" 
                        class="btn-acordo"
                        hx-confirm="Confirma o Acordo para os registros selecionados?">
                    Acordo
                </button>

                <button type="submit" 
                        name="status_acao" 
                        value="Nao Acordo" 
                        class="btn-nao-acordo"
                        hx-confirm="Confirma o Não Acordo para os registros selecionados?">
                    Não Acordo
                </button>
            </div> -->
        </form>

        <!-- <div class="container_mmd">
            <form hx-post="/update_meta_moedas" 
                  hx-target="#tabela-pesquisa" 
                  class="form-mmd" 
                  hx-swap="innerHTML" 
                  hx-include="#tabela-pesquisa input[name='registro_ids']:checked, #cache_key_pesquisa"
                  hx-confirm="Confirma a alteração da meta e moedas para os registros selecionados?">
                <div style="display: flex; justify-content: center; gap: 20px; margin-bottom: 15px;">
                    <label>Nova Meta: *
                        <input type="text" name="meta_duplicar" id="meta_duplicar" class="inputs_form_mmd">
                    </label>

                    <label>Nova Moeda: *
                        <input type="number" name="moedas_duplicar" id="moedas_duplicar" class="inputs_form_mmd">
                    </label>

                    
                </div>
                <button type="submit">Alterar Meta e Moedas</button>
            </form>
        </div> -->

        <div id="container-duplicar-pesquisa" class="container-duplicar-pesquisa" style="margin-top: 20px; text-align: center;">
    
            <div style="display: flex; justify-content: center; gap: 20px; margin-bottom: 15px;">
                <label>Data Início:
                    <input type="text" name="data_inicio" id="data_inicio_duplicar" placeholder="YYYY-MM-DD" class="flatpickr-input-data">
                </label>
                <label>Data Fim:
                    <input type="text" name="data_fim" id="data_fim_duplicar" placeholder="YYYY-MM-DD" class="flatpickr-input-data">
                </label>
                <label>Período:
                    <input type="text" name="periodo" id="periodo_duplicar" class="flatpickr-input-data" placeholder="Selecione data-inicio" value="" readonly>
                </label>

                <label>Possui DMM: *
                    <div class="radio-group" id="possuiDmmRadio">
                        <label><input type="radio" name="possuiDmmDuplicar" id="sim_duplicar" value="Sim"> Sim</label>
                        <label><input type="radio" name="possuiDmmDuplicar" value="Não" checked> Não</label>
                    </div>
                </label>

                <label>DMM:
                    <input type="text" id="dmm_duplicar" name="dmm" class="flatpickr-input-data" placeholder="Selecione as datas, caso haja">
                </label>
            </div>

            <form hx-post="/duplicate_search_results" 
                hx-target="#registros" 
                hx-swap="innerHTML"
                hx-trigger="submit" 
                hx-include="#pesquisa-form-data, #data_inicio_duplicar, #data_fim_duplicar, #periodo_duplicar, #tabela-pesquisa input[name='registro_ids']:checked, #dmm_duplicar, #possuiDmmRadio">
                
                <div id="pesquisa-form-data" style="display:none;">
                    <input type="hidden" name="atributo" id="duplicar_atributo" value="">
                    <input type="hidden" name="tipo_pesquisa" id="duplicar_tipo_pesquisa" value="">
                </div>

                <div class="mensagens-pesquisa" id="mensagens-pesquisa"></div>

                <button type="submit" class="btn-duplicar-tabela" hx-on::htmx:responseError="document.getElementById('mensagens-pesquisa').innerText = JSON.parse(event.detail.xhr.response).detail">Duplicar Registros para Matriz</button>
            </form>
        </div>

    </div>

    <div class="titulo-principal">
        <h3> </h3>
    </div>
    <div class="registros">
        <h4>Matriz</h4>  
        <div class="table-container">
            <table class="tabela-matriz">
                <thead>
                    <tr>
                        <th>Ações</th>
                        <th>Atributo</th>
                        <th>Id - Nome Indicador</th>
                        <th>Meta Sugerida</th>
                        <th>Resultado</th>
                        <th>Atingimento</th>
                        <th>Meta</th>
                        <th>Moedas</th>
                        <th>Tipo Indicador</th>
                        <th>Acumulado</th>
                        <th>Esquema Acumulado</th>
                        <th>Tipo Matriz</th>
                        <th>Data Inicio</th>
                        <th>Data Fim</th>
                        <th>Periodo</th>
                        <th>Escala</th>
                        <th>Tipo de Faturamento</th>
                        <th>Descrição</th>
                        <th>Ativo</th>
                        <th>Chamado</th>
                        <th>Criterio</th>
                        <!-- <th>Area</th>
                        <th>Responsavel</th> -->
                        <th>Gerente</th>
                        <th>Possui DMM</th>
                        <th>DMM</th>
                    </tr>
                </thead>
                <tbody id="registros">
                    {% include "_registro.html" %}
                </tbody>
            </table>
            
            
        </div>
        <div id="mensagens-registros" class="mensagens-registros"></div>

            <div class="clear_registros">
                <button
                    class="clear_registros_btn"
                    hx-post="/clear_registros"
                    hx-target="#registros"
                    hx-swap="innerHTML"
                    hx-confirm="Deseja realmente limpar a tabela?">
                    Limpar Tabela
                </button>
            </div>

            <div class="submit-tabela">
            <button
                    hx-post="/submit_table"
                    hx-target="#mensagens-registros"
                    hx-swap="innerHTML"
                    hx-confirm="Deseja realmente submeter as informações para banco de dados?">
                    Submeter Tabela
            </button>
            </div>

            <div class="replicacao-container">
                <h4>Clique na caixa abaixo e escolha os atributos para os quais quer replicar os indicadores da tabela acima.</h4>
                <select id="atributos_replicar" name="atributos_replicar" multiple class="atributos_replicar">
                    {% for at in atributos %}
                        <option value="{{ at['atributo'] }}"
                        data-gerente="{{ at['gerente'] }}"
                        data-tipo="{{ at['tipo'] }}">{{ at['atributo'] }}</option>
                    {% endfor %}
                </select>
                

                <button id="btn_replicar" 
                        class="btn_replicar"
                        hx-post="/replicar_registros"
                        hx-confirm="Deseja realmente replicar os registros para os atributos selecionados?"
                        hx-include="#atributos_replicar"
                        hx-target="#mensagens-registros"
                        hx-swap="innerHTML">
                    Replicar registros
                </button>
            </div>
    </div>

    <!-- 🔒 Overlay para bloquear tela -->
    <div id="overlay" style="
        display:none;
        position: fixed;
        top:0; left:0;
        width: 100vw;
        height: 100vh;
        background: rgba(255,255,255,0.55);
        backdrop-filter: blur(3px);
        z-index: 9998;
    "></div>

    <!-- ⏳ Loader Central -->
    <div id="loader" style="
        display:none;
        position: fixed;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        background: rgba(0,0,0,0.80);
        color: white;
        padding: 18px 26px;
        border-radius: 10px;
        font-size: 17px;
        font-weight: bold;
        z-index: 9999;
        box-shadow: 0 0 12px rgba(0,0,0,0.3);
    ">
        ⏳ Processando, aguarde...
    </div>

    <script src="{{ url_for('static', path='/js/matriz_core.js') }}"></script>
    <script src="{{ url_for('static', path='/js/matriz_adm.js') }}"></script>
    
    </body>
</html>
</body>
</html>